* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  /* Checkpoint: початкова стадія */
  
/* 1. для addresses-wrapper задайте внутрішні відступи 20 пікселів. Використані іконки і зображення надто великі і заважають подальшій верстці - встановимо їм початкові розміри: ширина address__icon - 70 пікселя, address__status 32. */  .addresses-wrapper {
      padding: 20px;
      display: flex;
      gap: 1%;
  }
  
  .address__icon {
      width: 70px;
  }
  
  .address__status {
      width: 32px;
  }
  
  /* 2. Задайте початковий чорновий стиль для блоку з адресою: задайте тінь з таким значенням: 3px 3px 10px rgba(0, 0, 0, 0.3), внутрішні відступи (верх\низ - 40, ліворуч\праворуч - 20 пікселів), скруглені края у 10 пікселя, зверніть увагу стриль шрифта (він нахилений а треба щоб був звичайний), задайте задній фон блоку кольору #FFE4C4 */
  .address {
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
      padding: 40px 20px;
      border-radius: 10px;
      font-style: normal;
      background-color: #FFE4C4;
  }
  
  /* Checkpoint: Задано початковий чорновий стиль блоку адреси */
  
  /* 3. Застилемо кнопку для видалення адреси (посилання з хрестиком) */
  .address__delete-btn {
      background-color: #FF8E50;
      color: white;
      text-decoration: none;
      font-size: 36px;
      line-height: 20px;
      padding: 10px;
      font-weight: bold;
      border-radius: 10px 0 10px 0;
  }
  
  /* 4. При наведенні миші на кнопку видалення необхідно змінювати її задній фон на #FFD050 */
  .address__delete-btn:hover {
      background-color: #FFD050;
  }
  
  /* Checkpoint: Застилемо кнопку для видалення адреси */
  
  /* 5. Щоб наші іконки статусу (зелена галочка) та видалення адресу (посилання з хрестиком) не заважали нам з текстом і були на своїх місцях - позиціонуйте їх у блоці з адресою таким чином, щоб вони виглядали як треба (відступи від краю блоку - по 10 пікселів). */
  .address {
      position: relative;
  }
  
  .address__delete-btn {
      position: absolute;
      top: 10px;
      right: 10px;
  }
  
  .address__status {
      position: absolute;
      bottom: 10px;
      right: 10px;
  }
  
  /* Checkpoint: Позиціювання кнопки видалення та іконки статусу */
  
  /* 6. Після назви адреси повинен бути розрив і зовнішній відступ у 10 пікселів щоб відділити трохи від решти тексту */
  .address__header {
      display: block;
      margin-bottom: 10px;
  }
  
  /* 7. Іконка адреси повинна бути ліворуч, а текст щоб обтікав її праворуч. Крім того, додайте зовнішній відступ справа від іконки у 10 пікселів інакше іконка буде надто близько до тексту */
  .address__icon {
      float: left;
      margin-right: 10px;
  }
  
  /* Checkpoint: Позиціювання іконки адреси і заголовку */
  
  /* 10. Блоки виглядають не зовсім гарно особливо на широкому екрані. Розмістіть ці блоки у один рядок таким чином, щоб ширина кожного блоку з адресою була 32% (від ширини батьківського блоку звісно), а відступи зовнішні - 1% (з усіх боків). */
  .address {
      position: relative;
      width: 30%;
      margin: 1%;
      display: inline-block;
  }
  
  /* 11. Позбутись зовнішніх відступів у першого та останнього блоку адреси + кольори */
  .address:first-child {
      margin-left: 0;
      background-color: #F0FFC1;
  }
  
  .address:last-child {
      margin-right: 0;
      background-color: #B6FFDA;
  }
  
    /* Checkpoint: Розміщуємо адреси у один рядок */

  /* 12. При наведенні миші на будь-який блок з адресою необхідно змінювати його задній фон на світло-сірий #F3F3F3 */
  .address:hover {
      background-color: #F3F3F3;
  }
  
  /* 13. Наші адреси на вузьких екранах (мобільні пристрої) */
  @media (max-width: 767px) {
      .address {
          width: 100%;
          margin:20px;
      }
  }
  